div#back-to-top {
    overflow: hidden;
    border-radius: 50%;
    position: fixed;
    background-color: #f5222561;
    color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 30px rgb(0 0 0 / 15%);
    cursor: pointer;
}
div#back-to-top span {
    padding-top: 6px;
}
div#back-to-top:hover{
    transform: scale(1.1);
    background-color: #f52225;
}
div#back-to-top span:hover{
    color: white;
}


@media only screen and (min-width: 300px) and (max-width:435px){
}
@media only screen and (min-width: 435px) and (max-width:576px){
}
@media only screen and (max-width: 575px){   
    div#back-to-top {
        right: 15px;
        bottom: 42px;
        width: 22px;
        height: 22px;
        font-size: 9px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px){
    div#back-to-top {
        right: 6px;
        bottom: 53px;
        width: 25px;
        height: 25px;
        font-size: 11px;
    }
}
@media only screen and (max-width: 768px){
}
@media only screen and (min-width: 768px) and (max-width: 992px){
}
@media only screen and (max-width: 992px){}
@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 1400px){}
@media only screen and (min-width: 577px){}
@media only screen and (min-width: 769px){
    div#back-to-top {
        right: 20px;
        bottom: 20px;
        width: 30px;
        height: 30px;
        font-size: 13px;
    }
}
@media only screen and (min-width: 993px){
}
@media only screen and (min-width: 1201px){}
@media only screen and (min-width: 1401px){}
