.footer {
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(circle, rgba(0, 252, 255, 0) 0%, rgb(28 20 2 / 36%) 0%), url(https://c4.wallpaperflare.com/wallpaper/22/240/855/texture-gradient-simple-background-blue-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
img.footer-logo{
    filter: invert(1);
}
.region,
.language {
    border: 1px solid rgb(181, 181, 181);
    border-radius: 0.6rem;
    padding: 6px 13px;
}
.footer-top-section {
    display: flex;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.mid-footer-wrapper {
    display: flex;
    align-items: self-start;
}

h3.mid-footer-title {
    font-weight: 600;
    pointer-events: none;
}
.mid-footer-link {
    text-decoration: none;
    color: rgb(255 255 255);
    margin: 0.5rem 0px;
    transition: all .5s ease;
}
a.mid-footer-link:hover {
    transition: all .5s ease;
    color: #fd0128;
}
.mid-footer-social-link {
    text-decoration: none;
    color: rgb(255 255 255);
    transition: all .5s ease;
}
.mid-footer-icon-link-wrapper {
    display: flex;
}
.fa-brands,.fab {
    font-weight: 400;
}
.mid-footer-social-link:hover {
    color: #fd0128;
    transition: all .5s ease;
}
.mid-footer-store-img-link-wrapper p {
    width: 122px;
    margin-bottom: 0px;
    margin-top: 13px;
}
.mid-footer-store-img-link-wrapper p img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* media query */
@media only screen and (max-width:435px) {
    h3.mid-footer-title {
        font-size: 13px;
    }
    .region,
    .language {
        padding: 1px 8px;
        font-size: 11px;
    }
    .mid-footer-wrapper {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .mid-footer-wrapper>div {
        width: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid;
    }
    .mid-footer-link-wrapper, .mid-footer-icon-link-wrapper {
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 6px;
    }
    .mid-footer-store-img-link-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .mid-footer-store-img-link-wrapper p {
        margin-top: 5px;
    }
    .footer-logo {
        height: 17px;
        width: 63px;
    }
    .mid-footer-link {
        font-size: 10px;
        line-height: 16px;
    }
    .fa-brands, .fab {
        font-size: 20px;
    }
    .top-footer {
        justify-content: center;
        margin-bottom: 21px;
    }
    .footer-logo {
        height: 23px;
        width: 80px;
    }
}
@media only screen and (min-width:436px){
    .mid-footer-wrapper {
        justify-content: space-between;
    }
}
@media only screen and (min-width: 436px) and (max-width:576px) {
    .region {
        margin-right: 10px;
    }
    .mid-footer-wrapper {
        margin-top: 20px;
    }
    .region,
    .language {
        padding: 2px 8px;
        font-size: 13px;
    }

    h3.mid-footer-title {
        font-size: 9px;
        margin-bottom: 5px;
    }

    .mid-footer-link-wrapper,
    .mid-footer-icon-link-wrapper {
        margin: 0;
    }

    .mid-footer-link {
        font-size: 10px;
        line-height: 0;
    }

    .fa-brands,
    .fab {
        font-size: 17px;
    }

    .mid-footer-store-img-link-wrapper p {
        width: 65px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .footer-logo {
        height: 22px;
        width: 82px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 435px) and (max-width: 767px){
    .footer {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 576px) {
    .footer {
        margin-top: 10px;
        padding: 1.2rem 0px 2.2rem;
     
    }
    .region {
        margin-right: 10px;
    }

    .mid-footer-icon-link-wrapper p {
        font-size: 0px;
        margin-right: 2.5px;
        margin-left: 2.5px;
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .region {
        margin-right: 10px;
    }

    .footer {
        padding: 1.3rem 10px 2.2rem;
        }

    .mid-footer-wrapper {
        margin-top: 20px;
    }

    .footer-logo {
        height: 30px;
        width: 120px;
        cursor: pointer;
    }

    .region,
    .language {
        padding: 2px 8px;
        font-size: 13px;
    }

    h3.mid-footer-title {
        font-size: 12px;
    }
    .mid-footer-link {
        font-size: 11px;
        line-height: 0;
    }

    .fa-brands,
    .fab {
        font-size: 22px;
    }

    .mid-footer-store-img-link-wrapper p {
        width: 70px;
        margin-bottom: 0px;
        margin-top: 6px;
    }
    .mid-footer-icon-link-wrapper>p{
        margin: 0 2px;
    }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .mid-footer-link-wrapper, .mid-footer-icon-link-wrapper {
        margin: 0;
    }
    .mid-footer-icon-link-wrapper>p{
        margin: 0 5px;
    }
}
@media only screen and (max-width: 768px) {}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .footer {
        padding: 2.3rem 10px 2.2rem;
    }

    .footer-logo {
        height: 30px;
        width: 115px;
    }

    .region,
    .language {
        padding: 2px 8px;
        font-size: 13px;
        margin-right: 15px;
    }

    h3.mid-footer-title {
        font-size: 12px;
    }
    .mid-footer-link {
        font-size: 13px;
        line-height: 0;
    }

    .fa-brands,
    .fab {
        font-size: 23px;
    }

    .mid-footer-store-img-link-wrapper p {
        width: 70px;
        margin-bottom: 0px;
        margin-top: 6px;
    }
}
@media only screen and (min-width: 577px) and (max-width:992px){
    .footer {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 992px) {}
@media only screen and (min-width: 993px) and (max-width:1200px){
    .footer {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 1400px) {}
@media only screen and (min-width: 577px) {}
@media only screen and (min-width: 769px) {
    .mid-footer-wrapper {
        margin-top: 30px;
    }
    .mid-footer-icon-link-wrapper p {
        font-size: 24px;
        margin-right: 10px;
    }
}
@media only screen and (min-width: 993px) {
    .footer-logo {
        height: 40px;
        width: 150px;
        cursor: pointer;
    }
    .region, .language {
        border: 1px solid rgb(181, 181, 181);
        border-radius: 0.6rem;
        padding: 6px 13px;
        margin-right: 15px;
    }
    .footer {
        padding: 2.2rem 10px 2.2rem;
    }
    h3.mid-footer-title {
        font-size: 17px;
    }
    .mid-footer-link-wrapper, .mid-footer-icon-link-wrapper {
        margin-top: 20px;
    }
    .mid-footer-link {
        font-size: 14px;
        line-height: 1.8rem;
    }
    .fa-brands, .fab {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1201px) {
    .footer {
        margin-top: 35px;
    }
}
@media only screen and (min-width: 1401px) {}