body {
  overflow-y: scroll !important;
  padding-right: 0 !important;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cur-po {
  cursor: pointer;
}

.tab-item {
  margin-right: 24px;
  padding-bottom: 5px;
}

.slick-prev:before,
.slick-next:before {
  color: grey !important;
}
.hero-btn{
  background: border-box rgb(239, 79, 95);
  border-color: rgb(239, 79, 95);
  color: white;
  border: 0px solid;
  border-radius: 0.6rem;
  padding: 5px 11px;
}

@media only screen and (max-width:435px) {
  .collection-title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
  }
}

@media only screen and (min-width: 436px) and (max-width:576px) {
  .collection-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
}

@media only screen and (max-width: 576px) {}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .collection-title {
    font-size: 17px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
  }
}

@media only screen and (max-width: 768px) {}

@media only screen and (min-width: 769px) and (max-width:992px) {
  .collection-title {
    font-size: 25px;
    color: #1c1c1c;
    margin-bottom: 10px;
    font-weight: 500; 
  }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1400px) {}

@media only screen and (min-width: 577px) {}

@media only screen and (min-width: 769px) {}

@media only screen and (min-width: 993px) {
  .collection-title {
    font-size: 30px;
    color: #1c1c1c;
    margin-bottom: 10px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 1201px) {}

@media only screen and (min-width: 1401px) {}