.tab-name {
    color: #808080;
}
.option-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
}
.tab-image-container.absolute-center {
    margin-right: 10px;
    position: relative;
    border-radius: 50%;
}


.active-tab .tab-name{
    color: rgb(189, 43, 43);
    border-bottom: 2px solid rgb(189, 43, 43);
}



@media only screen and (max-width: 576px){
    .tab-option.d-md-none.mob-tab .tab-item {
        padding-top: 5px;
        margin: 0;
    }
    .tab-image-container.absolute-center {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        position: relative;
        border-radius: 50%;
    }
    .active-tab .tab-name, .tab-name {
        font-size: 12px;
    }
    p.tab-icon {
        font-size: 18px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px)  {
    .tab-option.d-md-none.mob-tab .tab-item {
        padding-top: 5px;
        margin: 0;
    }
    .tab-image-container.absolute-center {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        position: relative;
        border-radius: 50%;
    }
    .active-tab .tab-name, .tab-name{
        font-size: 15px;
    }
    p.tab-icon {
        font-size: 22px;
    }
}
@media only screen and (max-width: 768px){
    .tab-option.d-md-none.mob-tab {
        position: fixed;
        background: black;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
        margin: 0;
        max-width: 100%;
    }
    .tab-option.d-md-none.mob-tab .option-wrapper {
        justify-content: space-around;
    }
}


@media only screen and (max-width: 992px){}
@media only screen and (max-width: 1200px){
    .tab-item {
        padding-bottom: 5px;
    }
}
@media only screen and (max-width: 1400px){}
@media only screen and (min-width: 577px){}
@media only screen and (min-width: 769px){

}
@media only screen and (min-width: 769px) and (max-width :992px){
    .tab-option {
        margin: 15px auto;
    }
    p.tab-icon {
        font-size: 22px;
    }
    .tab-image-container.absolute-center {
        width: 40px;
        height: 40px;
    }
    .tab-name {
        font-size: 13px;
    }
    .tab-item {
        margin-right: 20px;
    }
}
@media only screen and (min-width: 993px){}
@media only screen and (min-width: 993px) and (max-width :1200px){
    .tab-option {
        margin: 20px auto;
    }
    p.tab-icon {
        font-size: 25px;
    }
    .tab-image-container.absolute-center {
        width: 45px;
        height: 45px;
    }
    .tab-name {
        font-size: 15px;
    }
    .tab-item {
        margin-right: 20px;
    }
}
@media only screen and (min-width: 1201px){
    .tab-option {
        margin: 35px auto;
    }
    p.tab-icon {
        font-size: 33px;
    }
    .tab-image-container.absolute-center {
        width: 55px;
        height: 55px;
    }
}
@media only screen and (min-width: 1401px){}